---
import { Counter } from "../components/Counter/Counter.jsx"
import BasicLayout from "../global/layouts/BasicLayout.astro"
---

<BasicLayout>
	<h2 class="bg-yellow-500">Astro</h1>
	<Counter client:load />
</BasicLayout>
