---
import BasicLayout from "../global/layouts/BasicLayout.astro"
---

<BasicLayout title="感謝">
    <div class="flex justify-center items-center h-screen">
        <div>
            <div class="text-2xl">您已完成問卷的填答，感謝您的用心作答 ^_^</div>
            <img
                src="https://i.pinimg.com/originals/23/50/8e/23508e8b1e8dea194d9e06ae507e4afc.gif"
            />
        </div>
    </div>
</BasicLayout>
